:root {
    --body-Color:rgb(0, 0, 0);
    --background-color: rgb(0, 0, 0) ;
    --button-color: rgb(253, 255, 254);
    --text-color: white;

}

* {
     /* outline: 1px solid greenyellow;   */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition-duration: 200ms;
    font-family:Montserrat;
    color: aliceblue;
}


p {
    font-size: 1.2em;
}

body {
   height: 100vh;
   width: 100%;
   background-color: var(--background-color);
   display: flex;
   justify-content: center;
   align-items: center;
}



.header {
    font-size: 3.3em;
    display: flex;
    flex: 1;
    align-items:center;
    justify-content:  center;
    text-align: center;
   border-bottom: 1px white solid;
}

.header {
    font-family:'Times New Roman', Times, serif
}
.middleInfo {
    display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex: 2;
     /* border-bottom: 1px solid white; */
    

}



 section {
    background-color: var(--body-Color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
 }
 .imgContainerHolder {
    display: flex;
    flex-direction: row;
    flex: 4;
    align-content: center;
    justify-content: center;
 }

.imgContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Set width of container */
    height: 300px; /* Set height of container */
    /* border: 1px solid #000000; Example border */
    max-width: 1000px;
    flex: 3;
   
}

.imgContainer img {
 max-width: 100%;
 max-height: 100%;
 height: auto;
 flex: 1;
}
.links {
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 150px;
    flex: 1;
    
}

.links a {

    background-color: transparent;
    border: rgb(255, 255, 255) solid 1px;
    background-color: var(--button-color);
    margin: 10px;
    padding: 15px 20px;
    border-radius: 40px;
    
    min-width: 110px;
    text-align: center;
    text-decoration: none;
    color: black;
}

#london:hover {
    background-image: url(https://cdn.suwalls.com/wallpapers/digital-art/flag-of-england-45794-1920x1080.jpg);
    background-size: cover; /* Ensure the image covers the entire button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; 
    color: white;
    cursor: pointer;
}
#paris:hover {
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.amR-tcffn3ZXVFfRWQte6gHaDt&pid=Api&P=0&h=220);
    background-size: cover; /* Ensure the image covers the entire button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; 
    color: red;
    cursor: pointer;
    
}
#greece:hover {
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.ekp1TtqlzqDWuBsddj_65wHaFQ&pid=Api&P=0&h=220);
    background-size: cover; /* Ensure the image covers the entire button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; 
    color: rgb(255, 255, 255);
    cursor: pointer;
}



.bottomSection {
    display: flex;
    flex: 2;
    
}

.imglink {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 1 auto;
   

}

.imglink a {
    background-color: var(--button-color);
   border: 1px solid white;
   padding: 35px;
    /* padding: 5px 15px; */
    /* border-radius: 40px; */
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    
}

.imglink a:hover {
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.j6k7K4HtKXCo_3Te7kcBQQHaE7&pid=Api&P=0&h=220);
    background-size: cover; /* Ensure the image covers the entire button */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; 
    color: var(--text-color);
    cursor: pointer;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: small;
    justify-content: center;
   

}

h2 {
    text-align: center;
}

#arrow {
    transform: rotate(45deg)
}

.year {
    display: flex;
    flex: 1 1 auto;
    flex: auto;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: var(--text-color);

}



footer {
    justify-content: space-between;
    display: flex;
    background-color: rgb(23, 22, 22);
    /* border-top: white solid 1px; */
    text-align: center;
    font-size: small;
}

footer p{
    font-size: 0.5em;
    margin: 10px;
}

footer a {
    font-size: 0.9em;
    text-decoration: none;
    margin: 10px;
    
}

footer a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
} 
